.banner{
    color: #fff;
    height: 80vh;
    object-fit: contain;
   
    
}
.banner__content{
    padding-top: 200px;
    margin-left: 50px;
}

.movie__desc{
    width: 400px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.movie__title{
    font-size: 2.5rem;
    font-weight: 600;
}
.banner__button{
    border: none;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    padding: 12px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(109, 108, 108, 0.4);
}
.banner__button:hover{
    background-color: rgb(253, 252, 252,0.4);
}