.banner{
    color: #fff;
    height: 500px;
    object-fit: contain;
    
}
.banner__content{
    padding-top: 160px;
    margin-left: 30px;
}
.fade__bottom{
    height: 200px;
    background-image: linear-gradient( 180deg transparent rgba(37,37,37,0.61) #111);
}
.movie__desc{
    width: 300px;
}