.nav__content{
    display: flex;
    justify-content: space-between;
}
.nav__logo{
    width:95px;
    height: 35px;
    position: fixed;
    cursor: pointer;
    padding:15px;
    left:40px;

}
.avatar{
    width: 30px;
    height: 30px;
    position: fixed;
    cursor: pointer;
    padding:15px;
    right :30px;
}.username{
    top:-20px;
    position: fixed;
    cursor: pointer;
    padding:15px;
    font-size: 20px;
    font-weight: 500;
    right :70px;
}
.nav{
    background-color: black;
    width: 100vw;
    height: 60px;
    top:0;
    position: fixed;
    transition-timing-function:  ease-in;
    transition:all 0.5s;
    
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown__content{
    position: fixed;
    max-width: 110px;
    display: block;
    background:rgba(0,0,0,0.8);
    z-index: 1;
    right: 35px;
    top:50px;
    cursor: pointer;
    text-align: center;
   

}
.dropdown__content>p{
   
  padding: 10px 14px;
  display: block;
}
.dropdown__content>p:hover{
    background-color:gray;
   
}
