.row__container{
    margin-left: 50px;
}
h1{
    font-size: 1.4rem;
}
.row__img{
    display: flex;
    overflow-y:hidden;
    overflow-x: scroll;

}
.row__img::-webkit-scrollbar {
    display: none;
  }
.row_img{
    height: 160px !important;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;


}
.row_img:hover{
    transform: scale(1.08);
    opacity: 1;
}
  
.tooltip 
.tooltiptext {
    visibility: hidden;
    width: 108px !important;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    display: block;
    padding: 4px 4px;
    position: relative;
    font-size: 12px;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
